
[data-aos="fade-up"]{
    transform: translateY(100%);
    opacity: 0;
}
[data-aos="zoom-in-right"]{
    transform: scale(0.2);
}
[data-aos="zoom-in"]{
    transform: scale(0.2);
}
.aboutus-image{
    transform: scale(0.2);
    transition: 1.3s;
}
.aboutus-image-animation{
    transform: scale(1);
}